@inject NavigationManager NavigationManager
@inject OrganizationService OrganizationService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CustomerReportTest</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').checked = false;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </div>

        @if (organizations != null && organizations.Any())
        {
            <div class="nav-headline px-3 py-2">Generate Reports:</div>
            @foreach (var org in organizations)
            {
                <NavLink class="nav-link" href="@($"/generate-report/{org.name}")">
                    <span class="text">@org.name</span>
                </NavLink>
            }
        }
    </nav>
</div>

@code {
    private IEnumerable<ActiveOrganization>? organizations;

    protected override async Task OnInitializedAsync()
    {
        organizations = await OrganizationService.GetOrganizationsAsync();
    }
}
